x-config-version: 2
type: object
required: []
properties:
  disableDs:
    type: boolean
    default: false
    description: Disable sds-node-configurator daemonset
  logLevel:
    type: string
    enum:
      - ERROR
      - WARN
      - INFO
      - DEBUG
      - TRACE
    description: Module log level
    default: INFO
  enableThinProvisioning:
    type: boolean
    default: false
    description: Allow thin LVM volumes usage
  storageNetworkCIDRs:
    description: Storage network CIDR blocks. Use only if your cluster's nodes haves dedicated network interface attached.
    type: array
    items:
      type: string
      pattern: '^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}/[0-9]{1,2}$'
    default: []
    example: ["10.1.1.0/24"]
    x-examples:
    - []
    - ["1.2.3.0/24", "3.2.1.0/16"]
