---
apiVersion: v1
kind: Service
metadata:
  name: webhooks
  namespace: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "app" "sds-health-watcher-controller")) | nindent 2 }}
spec:
  type: ClusterIP
  ports:
    - port: 443
      targetPort: https
      protocol: TCP
      name: https
    - port: 8080
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    app: sds-health-watcher-controller
